/*html, body {
  height: 200%;
  width: auto;
  margin: auto;
  font-family: sans-serif;
}

.login {
  overflow:hidden; word-wrap:break-word
	height: 50px;
	background: #3A4F59;
  color: #999;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.creatingGame {
    position:relative;
    z-index:999;
}*/
